<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CrawlController</servlet-name>
        <servlet-class>anhtt.controllers.CrawlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>anhtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitController</servlet-name>
        <servlet-class>anhtt.controllers.InitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>anhtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>anhtt.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitRecommendController</servlet-name>
        <servlet-class>anhtt.controllers.InitRecommendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommendController</servlet-name>
        <servlet-class>anhtt.controllers.RecommendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFavoriteController</servlet-name>
        <servlet-class>anhtt.controllers.AddFavoriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoritesController</servlet-name>
        <servlet-class>anhtt.controllers.FavoritesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteController</servlet-name>
        <servlet-class>anhtt.controllers.FavoriteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrawlController</servlet-name>
        <url-pattern>/CrawlController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitController</servlet-name>
        <url-pattern>/InitController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitRecommendController</servlet-name>
        <url-pattern>/InitRecommendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommendController</servlet-name>
        <url-pattern>/RecommendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFavoriteController</servlet-name>
        <url-pattern>/AddFavoriteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritesController</servlet-name>
        <url-pattern>/FavoritesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteController</servlet-name>
        <url-pattern>/FavoriteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>InitController</welcome-file>
    </welcome-file-list>
</web-app>
